.Bio {

    hr {
        width: 15rem;
    }

    .profile {

        top: 2rem;

        position: relative;
        text-align: center;

        p {
            color: white;
            font-size: 35px;
            font-weight: 600;
        }

        img {
            margin-top: 1rem;
            width: 15rem;
            border: 3px solid white;
            border-radius: 50%;
        }
    }

    .whoami {

        margin-top: 4rem;
        margin-left: 1rem;
        position: relative;
        color: white;


        p {
            margin-top: 0.5rem;
            width: 80%;
            font-weight: 600;
        }
    }

    .tree-life {
        position: relative;
        margin-top: 6rem;
        color: white;

        margin-left: 1rem;
        
        ul {
            margin-top: 0.5rem;
        }

        li {
            display: flex;
            width: 80%;

            p {
                margin-left: 1rem;
                font-weight: 600;

            }
        }
    }

    .loves {
        position: relative;
        margin-top: 3rem;
        color: white;

        margin-left: 1rem;
        

        p {
            margin-top: 0.5rem;
            font-weight: 600;
            width: 80%;
        }
    }

    @media screen and (min-width: 620px) {

        .whoami, .tree-life , .loves {
            position: relative;
            width: 40rem;
            margin-left: auto;
            margin-right: auto;
            margin-top: 6rem;
            text-align: center;

            p, ul, li {
                position: relative;
                margin-left: auto;
                margin-right: auto;
            }
        }

        hr {
            width: 25rem;
            margin-left:auto;
            margin-right: auto;
        }

    }


    @media screen and (min-width: 900px) {

        .whoami, .tree-life , .loves {
            position: relative;
            width: 60rem;
            margin-left: auto;
            margin-right: auto;
            margin-top: 6rem;
            text-align: center;
            
            
            p, ul, li {
                position: relative;
                margin-left: auto;
                margin-right: auto;
            }
        }

        hr {
            width: 40rem;
            margin-left:auto;
            margin-right: auto;
        }

    }

}
