.home {
    overflow: hidden;
    background-color: $home-background-color;
}

.home-profile-picture {
    height: max-content;
    width: 100%;

    text-align: center;
    
    img {
        width: 18rem;
        height: 18rem;

        object-fit: cover;

        border-radius: 50%;
        border: 2px solid white;

        margin-block: 5rem;
    }

}

.home-description {
    position: relative;
    margin-inline: auto;

    display: flex;
    flex-direction: column;

    h1 {
        text-align: center;
        height: 8rem;
        margin-inline: 1rem;
        margin-bottom: 4rem;

        font-size: 1.6em;
        color: $home-text-color;
    }

    p {
        position: relative;
        text-align: left;
        margin-inline: auto;
        width: 70%;

        margin-bottom: 10rem;
            
        font-size: 1.5em;
        color: $home-text-color;
    }
}

.hidden {
    opacity: 0;
    transition: all 0s ease-in;
}

.show {
    opacity: 1;
}

.home-space {
    position: relative;
    width: 100%;
    height: 5rem;
}