@import "variables.scss";


/* Common */
@import "partials/common/header.scss";
@import "partials/common/footer.scss";
/* End Common */

/* Home */
@import "partials/home/home.scss";
/* End Home*/

/* Blog */
@import "partials/blog/blog.scss";
/* End Blog */

/* Contact */
@import "partials/contact/contact.scss";
/* End Contact */

html, body {
    margin: 0;
    font-family: 'Space Mono', monospace;
    background-color: $home-background-color;
}