/* Header/Footer */
$hf-background-color: rgb(22, 22, 22);
$hf-text-color: rgb(16, 185, 67);
$hf-title-color: rgb(44, 13, 221);
/* End Header */

/* Home */
$home-background-color: rgb(15, 15, 15);
$home-text-color: rgb(16, 185, 67);
/* End Home */

/* Blog */
$blog-background-color: rgb(15,15,15);
$blog-post-background-color: rgb(32, 32, 32);
$blog-post-title-color: rgb(44, 13, 221);
$blog-post-summary-color: rgb(16, 185, 67);
/* End Blog */

/* Contact */
$contact-background-color: rgb(15,15,15);
$contact-line-color: rgb(16, 185, 67);
$contact-text-color: rgb(16, 185, 67);
$contact-button-color: rgb(32, 32, 32);
/* End Contact */