$nav-color: rgb(25, 25, 26);
$text-color: white;

.navbar {
    width: 100%;
    height: 3.5rem;

    background-color: $nav-color;

    display:flex;

    a {
        text-decoration: none;
    }

    .name {
        display: flex;
        color: $text-color;
        font-weight: 700;
        font-size: 1.6em;

        position: relative;
        left: 0;
        padding: 15px 0 0 10px;

        p::after{
            content: 'js';
            color: rgb(228, 201, 52);
        }

        img {
            width: 2rem;
            height: 2rem;
            margin-right: 15px;
            color: white;
            filter:invert(100%);
        }
    }



    .dash {

        position: absolute;
        right: 0;

        color: white;
        
        ul, li {
            display: flex;
            list-style: none;
            text-align: center;
            padding: 0 5px 0 0;
            margin-top: 0.14rem;

            .int-button {
                text-align: center;
                color: white;
                background-color: transparent;
                border-radius: 15%;
                border: 2px solid rgb(76, 76, 76);
                width: 3rem;
                height: 3rem;

                img {
                    width: 1.5rem;
                    height: 1.5rem;
                    margin: auto;
                }

            }
    
            .mode {
                background-color: rgb(216, 157, 29);
            }

        }


    }


    @keyframes dash-pop {
        0%   {right: -40%;}
        100% {right:0;}
    }

    .large-menu {
        display: none;
        width: 13rem;
        height: fit-content;
        
        position: fixed;
        top: 3.6rem;
        right: 0.2rem;

        border-radius: 2%;
        z-index: 2;
        
        
        background-color: $nav-color;
        
        animation: ease-in;
        animation-name: dash-pop;
        animation-duration: 0.5s;

        button {
            position: relative;
            width: 13rem;
            height: 3.5rem;

            color: $text-color;
            background-color: $nav-color;

            border: 0;
            border-radius: 0.2rem;

            font-size: 16px;

            transition: 300ms;
            animation: ease-in-out;

        }

        button:hover {
            background-color: rgb(56, 56, 56);
            text-decoration: underline;
        }
    }
    
    @media screen and (min-width: 620px) {
        justify-content: center;

        .name{
            margin-right: 5rem;
        }

        .dash .int-button {
            display: none;
        }

        .dash {
            position: relative;
            display: block;
        }

        .large-menu {
            display: flex;
            position: relative;
            top: 0;
            margin-left: 2rem;

            button {
                width: 5rem;
                height: 3rem;
                font-size: 1.2em;
            }
        }
    }
}